
*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html, body{
    background-color:blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.principal{
display: flex;
text-align: center;
flex-direction: column ;

}
.botao{
    background-color: rgb(41, 188, 233);
    color: white;
    width: 120px;
    height: 60px;
    font-size: 20px;
}
.lumen{
    color: rgb(41, 188, 233);
    text-transform: uppercase;
}